@import './variables.scss';
@import './mixins.scss';

body{
    background-color:$background-secondary;
}

.properties-page{
    
    
    .properties-data{
        @include flexBox(center,row);
        list-style-type: none;
        ul{
            
    background-color: $button;
    padding: 1rem;
    border: 1px solid $black;
    margin: 3rem;
        }
        
        img{
            height:25vh;
            border:5px solid $border;
        }
    }

}